.viewmorebutton {
    color: var(--secondary-font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 63px;
    gap: 10px;
    padding: 18px 24px;
    border-radius: 12px;
}