@import url(../../variable.css);

.header{
    width: 100%;
    height: 120px;
    padding: 24px 162px;
    background-color: #1A1A1A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 180px;
    height: 50px;
}

.header > button{
    width: 137px;
    height: 55px;
    background-color: var(--accent-color);
    border-radius: 10px;
}

.header__navbar{
    display: flex;
    gap: 40px;
}
.header__navbar > a{
    text-decoration: none;
    color: #98989A;
}