@import url(../../variable.css);

.header__upper{
    width: 100%;
    height: 65px;
    background-color: #141414;
}

.logo{
    width: 180px;
    height: 50px;
}
.header__upper--content{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: var(--secondary-font-color);
    padding: 20px 0;
}
.header__lower{
    width: 100%;
    height: 100px;
    padding: 24px 162px;
    background-color: #1A1A1A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__lower > button{
    width: 137px;
    height: 55px;
    background-color: var(--accent-color);
    border-radius: 10px;
    cursor: pointer;
}

.header__navbar{
    display: flex;
    gap: 40px;
}
.header__navbar > a{
    text-decoration: none;
    color: #98989A;
}