@import url(../../variable.css);

.herosection{
    display: flex;
    gap: 50px;
    padding-inline: 162px;
    background-color: var(--primary-color);
}
.herosection__leftcontent{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    gap: 100px;
}
.herosection__leftcontent--text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.herosection__leftcontent--text > p:nth-child(1){
    color: var(--secondary-font-color);
    font-size: 30px;
}
.herosection__leftcontent--text > p:nth-child(3){
    color: var(--secondary-font-color);
    font-size: 18px;
}
.herosection__leftcontent--text > h1{
    color: var(--primary-font-color);
    font-size: 70px;
}
.herosection__leftcontent--buttons{
    display: flex;
    gap: 100px;
}
.herosection__leftcontent--buttons > div {
    max-width: 197px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    gap: 10px;
}
.herosection__leftcontent--buttons > div > h1{
    color: var(--primary-font-color);
}
.herosection__leftcontent--buttons > div > p{
    color: var(--secondary-font-color);
}
.herosection__leftcontent--buttons > div > h1 > span{
    color: var(--accent-color);
}
.herosection__rightcontent{
    width: 40%;
    position: relative;
}
.herosection__rightcontent > img{
    width: 100%;
    object-fit: cover;
    opacity: 0.4;
}
.herosection__rightcontent--content{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 80px;
    bottom: 80px;
    gap: 30px;
}
.herosection__rightcontent--content > p:nth-child(2){
    margin-top: 60px;
    color: var(--primary-font-color);
}
.herosection__rightcontent--content > p:nth-child(3){
    color: var(--secondary-font-color);
}
.herosection__rightcontent--content > button{
    max-width: 230px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px 25px;
    border: none;
    background-color: transparent;
    color: var(--secondary-font-color);
    cursor: pointer;
}
.herosection__rightcontent--users{
    position: relative;
}
.herosection__rightcontent--users >img{
    position: absolute;
}
.herosection__rightcontent--users >img:nth-child(2){
    left: 50px;
    z-index: 2;
}
.herosection__rightcontent--users >img:nth-child(3){
    left: 100px;
    z-index: 3;
}
.herosection__rightcontent--users >img:nth-child(4){
    left: 150px;
    z-index: 4;
}