@import url(../../variable.css);
.herosection{
    display: flex;
    gap: 50px;
    padding-inline: 162px;
    background-color: var(--primary-color);
}
.herosection__leftcontent{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    gap: 100px;
}
.herosection__leftcontent--text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.herosection__leftcontent--text > p:nth-child(1){
    color: var(--secondary-font-color);
    font-size: 30px;
}
.herosection__leftcontent--text > p:nth-child(3){
    color: var(--secondary-font-color);
    font-size: 18px;
}
.herosection__leftcontent--text > h1{
    color: var(--primary-font-color);
    font-size: 70px;
}
.herosection__leftcontent--buttons{
    display: flex;
    gap: 100px;
}
.herosection__leftcontent--buttons > div {
    max-width: 197px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    gap: 10px;
}
.herosection__leftcontent--buttons > div > h1{
    color: var(--primary-font-color);
}
.herosection__leftcontent--buttons > div > p{
    color: var(--secondary-font-color);
}
.herosection__leftcontent--buttons > div > h1 > span{
    color: var(--accent-color);
}
.herosection__rightcontent{
    width: 40%;
    position: relative;
}
.herosection__rightcontent > img{
    width: 100%;
    object-fit: cover;
    opacity: 0.4;
}
.herosection__rightcontent--content{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 80px;
    bottom: 80px;
    gap: 30px;
}
.herosection__rightcontent--content > p:nth-child(2){
    margin-top: 60px;
    color: var(--primary-font-color);
}
.herosection__rightcontent--content > p:nth-child(3){
    color: var(--secondary-font-color);
}
.herosection__rightcontent--content > button{
    max-width: 230px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px 25px;
    border: none;
    background-color: transparent;
    color: var(--secondary-font-color);
    cursor: pointer;
}
.herosection__rightcontent--users{
    position: relative;
}
.herosection__rightcontent--users >img{
    position: absolute;
}
.herosection__rightcontent--users >img:nth-child(2){
    left: 50px;
    z-index: 2;
}
.herosection__rightcontent--users >img:nth-child(3){
    left: 100px;
    z-index: 3;
}
.herosection__rightcontent--users >img:nth-child(4){
    left: 150px;
    z-index: 4;
}
.option{
    display: flex;
    justify-content: space-between;
    padding-inline: 162px;
    padding-bottom: 50px;
    gap: 160px;
}
.option-box{
    display: flex;
    flex-direction: column;
    max-width: 425px;
    width: 100%;
    gap: 30px;
    background-color: var(--primary-color);
}
.option-box > p{
    color: var(--secondary-font-color);
}
.option-box-body{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.option-box-body-leftcontent > h4{
    color: var(--primary-font-color);
}
.option-box-body-leftcontent > p{
    color: var(--secondary-font-color);
}
.option-box-body-rightcontent{
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--accent-color);
}
.title{
    color: var(--primary-font-color);
    padding: 120px 162px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    background-color: var(--secondary-color);
}
.title > h3{
    font-size: 20px;
    padding: 5px 10px;
    background-color: #333333;
    border-radius: 5px;
}
.title > h1{
    font-size: 58px;
}
.blog_section1{
    display: flex;
    justify-content: space-between;
    gap: 160px;
    padding: 60px 162px;
}
.blog_section1__leftcontent > h1{
    color: var(--primary-font-color);
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 15px;
}
.blog_section1__leftcontent > p{
    color: var(--secondary-font-color);
    font-size: 18px;
}
.blog_section1__rightcontent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}
.blog_section1__rightcontent--item{
    max-width: 445px;
    width: 100%;
    height: 190px;
    padding: 40px;
    background-color: var(--secondary-color);    
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center; 
}
.blog_section1__rightcontent--item > h1{
    color: var(--primary-font-color);
    font-size: 1.5rem;
}
.blog_section1__rightcontent--item > p{
    color: var(--secondary-font-color);
    font-size: 1.125rem;
}
.blog_section2{
    display: flex;
    justify-content: space-between;
    gap: 160px;
    padding: 60px 162px;
}
.blog_section2__leftcontent > h1{
    color: var(--primary-font-color);
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 15px;
}
.blog_section2__leftcontent > p{
    color: var(--secondary-font-color);
    font-size: 18px;
}
.blog_section2__rightcontent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}
.blog_section2__rightcontent--item{
    max-width: 445px;
    width: 100%;
    height: 190px;
    padding: 40px;
    background-color: var(--secondary-color);    
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center; 
}
.blog_section2__rightcontent--item > h1{
    color: var(--primary-font-color);
    font-size: 1.5rem;
}
.blog_section2__rightcontent--item > p{
    color: var(--secondary-font-color);
    font-size: 1.125rem;
}
.banner{
    padding: 120px 162px;
    display: flex;
    justify-content: space-between;
} 
.banner_leftcontent{
    color: var(--primary-font-color);
}
.banner_leftcontent > p{
    width: max-content;
    background-color: #333333;
    padding: 5px 10px;
    font-size: 1.125rem;
}
.banner_leftcontent > h1{
    font-size: 3.625rem;
}
.blogs{
    display: flex;
    flex-direction: column;
    padding-inline: 162px;
}
.blogs_header{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 50px 0;
}
.blogs_header > button{
    width: 250px;
    height: 87px;
    color: var(--secondary-font-color);
    border: 2px solid #262626;
    background-color: transparent;
    font-size: 1.125rem;
}
.blogs_body_userblog{
    display: flex;
    justify-content: flex-start;
    padding: 50px 0;
    gap: 50px;
}
.blogs_body_userblog--userinfo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 300px;
    width: 250px;
    gap: 10px;
}
.blogs_body_userblog--userinfo--description > h5{
    color: var(--primary-font-color);
    font-size: 1.25rem;
    width: max-content;
}
.blogs_body_userblog--userinfo--description > p{
    color: var(--secondary-font-color);
    width: max-content;
    font-size: 1.125rem;
}
.blogs_body_userblog--content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.blogs_body_userblog--content_left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.blogs_body_userblog--content_left > div:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.blogs_body_userblog--content_left-date{
    color: var(--secondary-font-color);
    font-size: 1.25rem;
}
.blogs_body_userblog--content_left-title{
    color: var(--primary-font-color);
    font-size: 1.625rem;
}

.blogs_body_userblog--content_left-desc{
    color: var(--secondary-font-color);
    font-size: 1.125rem;
}
.blogs_body_userblog--content_left--social{
    display: flex;
    gap: 10px;
}
.blogs_body_userblog--content_left--social > div{
    padding: 8px 16px;
    background-color: #262626;
    border-radius: 100px;
}
.blogs_body_userblog--content_left--social_like{
    color: #98989A;
    display: flex;
    align-items: center;
    gap: 5px;
}
.blogs_body_userblog--content_left--social_comment{
    color: #98989A;
    display: flex;
    align-items: center;
    gap: 5px;
}
.blogs_body_userblog--content_left--social_send{
    color: #98989A;
    display: flex;
    align-items: center;
    gap: 5px;
}